* {
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body,
html {
  background-color: #131313;
  color: #fff;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
}

.main-div {
  position: relative;
  top: 30%;
}

h1 {
  text-align: center;
  font-size: 6rem;
  margin-top: 0;
  @media (max-width: 767px) {
    font-size: 2rem;
  }
}

.counter {
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 8rem;
  & > div {
    &::after {
      content: ":";
      padding: 0 10px;
    }
    &:last-child {
      &::after {
        content: "";
      }
    }
  }
  @media (max-width: 991px) {
    font-size: 2rem;
  }
}
